@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "主页";
}

<div class="jumbotron" style="margin-top: 20px;">
    <h2>欢迎来到公共自行车管理系统!</h2>
    <p class="lead">本系统实现了的功能: 1.租借卡的办理与充值。 2.站点车辆租用情况查询。 3.自行车借、还操作。 4.自行车租用情况统计......</p>
    <p><a class="btn btn-lg btn-success" href="javascript:void(0)" role="button">点击开始</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>最新公告</h2>
        <p>
            （1）点击页面右上角注册账号，用注册好的账号登录系统。（2）借车前请先办理租借卡，办理完成后可以进行充值。
            （3）在借车/还车界面，可以根据站点查找某一个站点的自行车，也可以直接通过编号来查询自行车。（4）在找到了
            想要借走的自行车后，点击借车按钮可以借到该车。但是要注意的是，如果租借卡的余额较少时，是无法完成借车操作的，
            所以，在借车前请务确保租借卡中有足够的余额。（5）还车同样是在借车/还车界面，在还车站点中输入归还自行车的站点，
            然后点击还车按钮，即可完成还车操作。
        </p>
        <p><a class="btn btn-default" href="#" role="button" data-toggle="modal" data-target="#modalAnnouncement">查看详细信息 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>租/还车流程</h2>
        <img class="zoomify" src="~/Content/image/howToUse.jpg" width="360px">
    </div>
    <div class="col-md-4">
        <h2>今日天气</h2>
        <div id="weather-today" v-cloak>
            <div class="weather-info left col-md-5 col-md-offset-1">
                <h1>{{temperature}}&#186;</h1>
                <p>{{weather}} {{day_air_temperature}}&#186;/{{night_air_temperature}}&#186;C</p>
                <p>空气质量指数: {{aqi}}</p>
                <p>空气湿度: {{sd}}</p>
                <p>风向: {{wind_direction}}</p>
                <p>风力: {{wind_power}}</p>
            </div>
            <div class="weather-img right col-md-5">
                <img src="http://app1.showapi.com/weather/icon/day/01.png" />
                <h2>{{city}}</h2>
                <h3>{{cityE}}</h3>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/homePage.js")

