@{
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
    ViewBag.Title = "自行车租用情况";
}

<div style="padding: 0 6%">
    <div id="bicycleSta">
        <div class="bicycle-type-count">
            <h2 class="page-header">自行车</h2>
            <div class="p-and-chart col-md-11 col-md-offset-1">
                <div class="col-md-7 many-p">
                    <p>现在一共拥有自行车{{ bicNum }}辆</p>
                    <p>数量最多的自行车型号为 {{ maxType.type }}，一共有{{ maxType.count }}辆</p>
                    <p>数量最少的自行车型号为 {{ minType.type }}，只有{{ minType.count }}辆</p>
                </div>
                <div class="col-md-4">
                    <div class="chart-body">
                        <canvas id="typeCountChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="bicycle-borrow-count">
            <h2 class="page-header">租借情况</h2>
            <div class="p-and-chart col-md-11 col-md-offset-1">
                <div class="col-md-4">
                    <div class="chart-body">
                        <canvas id="borrowCountChart" width="400" height="400"></canvas>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-3 many-p">
                    <p>一共完成了自行车租借{{ borrowSum }}次</p>
                    <p>租借数量最多的自行车型号为{{ maxBorType.type }}型</p>
                    <p>租借数量最少的自行车型号为{{ minBorType.type }}型</p>
                </div>
            </div>
        </div>

        <div class="bicycle-site-count">
            <h2 class="page-header">站点</h2>
            <div class="p-and-chart col-md-11 col-md-offset-1">
                <div class="col-md-7 many-p">
                    <p>现在一共有{{ siteNum }}个公共自行车站点</p>
                    <p>目前停车数量最多的站点是{{ maxSite.name }}</p>
                    <p>目前停车数量最少的站点是{{ minSite.name }}</p>
                </div>
                <div class="col-md-4">
                    <div class="chart-body">
                        <canvas id="countSiteChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h2 class="page-header">租用情况</h2>
            <div style="padding: 0 6%;">
                <canvas id="weekCountChart" height="125"></canvas>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/situation.js")
