body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

[v-cloak] {
    display: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear:both;
}

.rental-card {
    border: 1px solid #ee4848;
    margin-top: 33px;
    margin-left: 33px;
    width: 387px;
    height: 200px;
    border-radius: 18px;
    background-color: #ee4848;
    float: left;
}

.rental-card-info {
    margin-top: 80px;
    margin-left: 30px;
}

.card-name {
    color: #fffffd;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.card-hr {
    margin-top: -10px;
    margin-left: 4%;
    width: 38%;
}

.bicycle-icon {
    margin-left: 275px;
    margin-top: -75px;
}

.card-message {
    margin-left: 20px;
    font-size: 12px;
    color: #fffffd;
    cursor: pointer;
}

.rental-number {
    font-size: 18px;
    margin-bottom: 40px;
}

.add-card {
    border: 1px solid #5e5e5e;
    margin-top: 33px;
    margin-left: 33px;
    width: 387px;
    height: 200px;
    border-radius: 18px;
    background-color: #5e5e5e;
    text-align: center;
    float: left;
    opacity:0.5;
}

.add-card:hover {
    opacity: 0.7;
}

.add-icon{
    line-height: 185px;
    font-size: 60px;
    color: #fffffa;
    cursor:pointer;
}

.add-card-message {
    margin-top: -45px;
    color: #fffffa;
}

.add-icon:hover {
    font-size: 62px;
}

.cards {
    padding: 5% 10%;
}

.rental-upright {
    float: right;
    margin-right: 18px;
    margin-top: -48px;
}

.rental-close {
    cursor:pointer;
    opacity: 0.8;
}

.rental-close:hover {
    opacity: 1.0;
}

.rental-lock {
    margin-right: 20px;
    color: #d0e9c6;
}

.modal-label {
    margin-left: 40px;
    float: left;
}

.modal-show {
    margin-left: 80px;
}

.small-text {
    width: 80px;
}

#toCharge {
    height: 30px;
    line-height: 30px;
}

.check-area {
    height: 620px;
}

.searched-site,
.site-table {
    
}



.check-site {
    width: 25%;
    height: 250px;
    text-align: center;
}

.searched-site th {
    font-size: 13px;
}

.searched-site td {
    font-size: 13px;
}

.search-form {
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.searched-site,
.site-table{
    margin-top: 20px;
    margin-left: -2px;
}

.borrow-bicycle {
    float: right;
    width: 72%;
    height: auto;
    padding: 0 2%;
}

.borrow-button {
    float: right;
}

.pagination a {
    cursor: pointer;
}

.table-length {
    text-align: center;
    width: 70px;
    float: right;
    margin-top: 20px;
    margin-right: 60px;
}

#borrowModal{
    text-align: center;
}

.return-table {
    margin: 20px;
}

.chart-body {
    margin-top: 40px;
}

.p-and-chart .many-p{
    margin-top: 120px;
    font-size: 16px;
}

.p-and-chart p {
    margin-bottom: 20px;
}

#borrowBicycle {
    margin-top: 20px;
}

.font12 {
    font-size: 12px;
}

.font16 {
    font-size: 16px;
}

.admin-table {
    padding: 0 6%;
    margin-top: 20px;
}