.user-info {
    margin-top: 20px;
    height: 600px;
    padding: 20px;
}

.user-info-avatar {
    margin-bottom: 32px;
}

.user-info-img {
    float: left;
}

.user-info-fix {
    padding-left:30px;
    padding-top: 10px;
}

.user-info-form {
    margin-top: 20px;
}

.user-info-form-fix {
    margin-bottom: 30px;
    margin-left: 10px;
    height: 30px;
}

.user-info-label {
    float: left;
}

.buttons {
    margin-top: 35px;
    margin-left: 200px;
    margin-bottom: 30px;
}

.glyp-right {
    margin-right: 5%;
}

.error-message {
    color: #a94442;
    font-size: 12px;
}

.one-thing {
    margin-bottom: 20px;
}

.user-body {
    padding: 20px 0;
}

input.error {  
    border: 1px solid #A94442; 
}

label.error {
    color: #A94442;
    margin-top: 5px;
    font-size: 12px;
    height: 12px;
    margin-bottom: -20px;
}

#growls.default {
    top: 66px;
    right: 10px; 
}
